# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
ENV/
venv/
env.bak/
venv.bak/

# Environment variables
.env

# Logs
logs/
*.log

# Pytest
.cache/
.pytest_cache/

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db
